<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>A crappy chat client</title>
    <link rel="stylesheet" href="vendor/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="src/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
	<!-- Angular Material Library -->
	<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	<!-- Emoji Rendering Support -->
	<link rel="stylesheet" type="text/css" href="angular-emoji-picker/dist/css/emoji-picker.min.css">
	<script src="angular-emoji-picker/dist/js/emoji-picker.min.js"></script>
	
	<script src="app/app.js"></script>
</head>
<body ng-app="crappyChat" ng-controller="chatCtrl">
	<div id="standard-container">
		<div id="login-container" layout="row" layout-align="center center">
			<md-button class="md-button md-primary md-raised" ng-hide="!locked" ng-click="showLogin()">
				Login
			</md-button>
		</div>
		<div id="layout-container" layout="row" layout-align="center center" ng-hide="locked">
			<div id="channel-sidebar" class="sidebar" layout="column" layout-align="center start">
				<md-button class="md-button md-primary md-raised" ng-disabled="locked" ng-click="createChannel()">
					Create Channel
				</md-button>
				<md-button class="md-button" ng-repeat="channel in channels" ng-disabled="locked" ng-click="setCurrentChannel(channel)">{{channel}}</md-button>
			</div>
			<div id="user-sidebar" class="sidebar" layout="row" layout-align="center center">
				<div class="user-sidebar-sender" ng-repeat="user in users" style="color: #{{colorUser(user)}}">{{user}}</div>
			</div> 
			<div id="content-wrapper">
				<div id="content">
					<div class="message" ng-repeat="message in messages">
						<div class="time">{{message.timestamp | date: 'HH:mm:ss'}}</div>
						<div class="sender" style="color: #{{colorUser(message.user)}};">&lt;{{message.user}}&gt;</div>
						<div ng-bind-html="message.message">{{message.message | emojify}}</div>
					</div>
				</div>
			</div>
			<form ng-submit="sendMessage()" autocomplete="off">
				<input id="chatInput" type="text" ng-model="chatInput" placeholder="Your message" required ng-keyup="$event.keycode === 13 && sendMessage();" ng-hide="locked">
				<span emoji-picker="chatInput"></span>
			</form>
		</div>
	</div>
</body>
</html>
